.post__main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        top: 4rem;
        left: 4rem;
        padding-left: 45px;
        margin-left: 20px;
        width: 60%;
        box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        border-radius: 12px;
        margin: 30px 0;

}

.avatar__img {
    width: 40px;    
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.post__user {
    display: flex;
    align-items: center;
    position: relative;
    left: -2rem;
}


.post__img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: relative;
    left: -1rem;
    width: 100%;
}

.img__div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.post__like {
    width: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.post__comment {
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 3rem; */
}

.post__functions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
}




.whole {
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
}


.post__lik {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-color: rgb(230, 94, 94);
    border-radius: 50%;
    width: 20px;



}

.user__name {
    position: relative;
    left: 1rem;
}

.post__text {
    margin: 2rem;
}

.form__post {
    position: relative;
    left: 13rem;
    top: -2.70rem;
}
.file {
    position: relative;
    top: 2.50rem;
    left: -14rem;

}

.file__text {
    position: relative;
    top: 2.50rem;
    left: -15rem;
}

.btn__post {
    position: relative;
    left: -23rem;
}