.feed__h1 {
    padding: 20px;
    width: 15%;
    margin-top: 10px;
}
.feed__h3 {
display: flex;
justify-content: flex-start;
padding-left: 30px;
position: relative;
top: 2rem;

}





.button__friend {
  display: flex;
  justify-content: center;
  align-items: center;
margin: 1rem;
}

.post__feed {
  display: flex;
  justify-content: center;
  align-items: center;
}